[submodule ".emacs.d/elixir-mode"]
	path = .emacs.d/elixir-mode
	url = https://github.com/elixir-lang/emacs-elixir.git
[submodule ".emacs.d/s"]
	path = .emacs.d/s
	url = git@github.com:magnars/s.el.git
[submodule ".emacs.d/edts"]
	path = .emacs.d/edts
	url = git@github.com:tjarvstrand/edts.git
[submodule ".emacs.d/helm"]
	path = .emacs.d/helm
	url = git@github.com:emacs-helm/helm.git
[submodule ".emacs.d/smartparens"]
	path = .emacs.d/smartparens
	url = git@github.com:Fuco1/smartparens.git
[submodule ".emacs.d/projectile"]
	path = .emacs.d/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule ".emacs.d/slime"]
	path = .emacs.d/slime
	url = git@github.com:slime/slime.git
