.emacs.d/auto-save-list/*
.emacs.d/elpa/*
local_init.el
/.emacs.d/abbrev_defs
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/%backup%~
/.emacs.d/bookmarks
/.emacs.d/tramp
/.emacs.d/eshell/lastdir
/.emacs.d/eshell/history
/.emacs.d/session*
/.emacs.d/network-security.data
/.emacs.d/url/
/.emacs.d/semanticdb/
/.emacs.d/request/
