"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "{{ .name }}"
email = "{{ .email }}"

[ui]
editor = "hx"
merge-editor = ["meld", "$left", "$base", "$right", "-o", "$output"]
pager = "delta"
diff-formatter = ":git"


[git]
push-new-bookmarks = true

[revset-aliases]
'pr_stack' = 'trunk()..descendants(@) & bookmarks() ~ bookmarks("wip-") ~ bookmarks("per-")'
'branch-roots' = 'roots(trunk()..@)'
