"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "{{ .name }}"
email = "{{ .email }}"

[ui]
editor = "nvim"
merge-editor = ["meld", "$left", "$base", "$right", "-o", "$output"]

[git]
push-new-bookmarks = true

[revset-aliases]
'pr_stack' = 'trunk()..@ & bookmarks() ~ bookmarks("wip-")'
